<h1>TP 02</h1>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" [routerLink]="['']" routerLinkActive="active" ariaCurrentWhenActive="page">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" [routerLink]="['/client/clientForm']" routerLinkActive="active" ariaCurrentWhenActive="page">Form</a>
      <a class="nav-item nav-link" [routerLink]="['/catalogue/listMushrooms']" routerLinkActive="active" ariaCurrentWhenActive="page">Catalogue</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
